#biobackground{
	background-image: url("gale.jpg");
	width: 100%;
	background-size: contain;

	/*background-color:red;*/
}

#indexbackground{
	background-image: url("index.jpg");
	width: 100%;
	background-size: cover;
}