#biobackground{
	background-image: url("gale.jpg");
	max-width: 100%;
    height: auto;
    width: auto;
}

#indexbackground{
	background-image: url("index.jpg");
	max-width: 50%;
	max-height: 100%;
	height:100%;
    
}